{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Material Dash</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/static/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/static/vendors/jvectormap/jquery-jvectormap.css">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/static/css/demo/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/static/images/favicon.png" />
</head>
<body>
<script src="/static/js/preloader.js"></script>
  <div class="body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <div class="mdc-drawer__header">
        <a href="index.html" class="brand-logo">
          <img src="/static/images/pmjaylogo.png" alt="logo" style="width: 90px; height: auto;">
        </a>        
      </div>
      <div class="mdc-drawer__content">
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="index.html">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
                Dashboard
              </a>
            </div>
            {% comment %} <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="pages/forms/basic-forms.html">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">track_changes</i>
                Forms
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="ui-sub-menu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
                UI Features
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/ui-features/buttons.html">
                      Buttons
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/ui-features/typography.html">
                      Typography
                    </a>
                  </div>
                </nav>
              </div>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="pages/tables/basic-tables.html">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">grid_on</i>
                Tables
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="pages/charts/chartjs.html">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pie_chart_outlined</i>
                Charts
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="sample-page-submenu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pages</i>
                Sample Pages
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="sample-page-submenu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/blank-page.html">
                      Blank Page
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/403.html">
                      403
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/404.html">
                      404
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/500.html">
                      500
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/505.html">
                      505
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/login.html">
                      Login
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/register.html">
                      Register
                    </a>
                  </div>
                </nav>
              </div>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="https://www.bootstrapdash.com/demo/material-admin-free/jquery/documentation/documentation.html" target="_blank">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">description</i>
                Documentation
              </a>
            </div> {% endcomment %}
          </nav>
        </div>
        {% comment %} <div class="profile-actions">
          <a href="javascript:;">Settings</a>
          <span class="divider"></span>
          <a href="javascript:;">Logout</a>
        </div> {% endcomment %}
      </div>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content">
      <!-- partial:partials/_navbar.html -->
      <header class="mdc-top-app-bar">
        <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
        <span class="mdc-top-app-bar__title">PMJAY FRAUD DETECTION DASHBOARD, BIHAR</span>
      </header>
      <div style="position: absolute; top: 20px; right: 20px; z-index: 10;">
        <select id="districtDropdown" class="form-control">
          <option value="">All Districts</option>
        </select> 
      </div>      
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--success custom-card-height card" data-type="flagged-claims">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">Number of Flagged Claims</h5>
                      <span id="flagged-overall" class="overall-value">{{ flagged_claims_overall }}</span>
                    </div>

                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_flagged_claims' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- New Data Rows -->
                    <div class="card-data">
                      <div class="data-row">
                        <span>Overall:</span>
                        <span id="flagged-overall">{{ flagged_claims_overall }}</span>
                      </div>
                      <div class="data-row">
                        <span>Last 30 days:</span>
                        <span id="flagged-last30">{{ flagged_claims_last_30_days }}</span>
                      </div>
                      <div class="data-row">
                        <span>Yesterday:</span>
                        <span id="flagged-yesterday">{{ flagged_claims_yesterday }}</span>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">dvr</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--danger custom-card-height card data-type="geo-anomalies">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">Geographic Anomalies</h5>
                      <span id="geo-overall" class="overall-value">{{ geo_overall }}</span>
                    </div>

                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_geo_anomalies' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- New Data Rows -->
                    <div class="card-data">
                      <div class="data-row">
                        <span>Overall:</span>
                        <span id="geo-overall">{{ geo_overall }}</span>
                      </div>
                      <div class="data-row">
                        <span>Last 30 days:</span>
                        <span id="geo-last30">{{ geo_last_30_days }}</span>
                      </div>
                      <div class="data-row">
                        <span>Yesterday:</span>
                        <span id="geo-yesterday">{{ geo_yesterday }}</span>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">public</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--primary custom-card-height card">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">High Value Claims</h5>
                      <span id="surgical-overall" class="overall-value">{{ surgical_overall }}</span>
                      <span id="medical-overall" class="overall-value">{{ medical_overall }}</span>
                    </div>
                    
                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_high_value_claims' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- Split Container for Surgical and Medical -->
                    <div class="split-container">
                      <!-- Surgical Section -->
                      <div class="split-section">
                        <div class="split-title-wrapper surgical-box">
                          Surgical
                        </div>
                        <div class="card-data">
                          <div class="high-value-data-row">
                            <span>Overall:</span>
                            <span id="surgical-overall">{{ surgical_overall }}</span>
                          </div>
                          <div class="high-value-data-row">
                            <span>Last 30 days:</span>
                            <span id="surgical-last30">{{ surgical_last_30_days }}</span>
                          </div>
                          <div class="high-value-data-row">
                            <span>Yesterday:</span>
                            <span id="surgical-yesterday">{{ surgical_yesterday }}</span>
                          </div>
                        </div>
                      </div>

                      <!-- Vertical Divider -->
                      <div class="vertical-divider"></div>

                      <!-- Medical Section -->
                      <div class="split-section">
                        <div class="split-title-wrapper medical-box">
                          Medical
                        </div>
                        <div class="card-data">
                          <div class="high-value-data-row">
                            <span>Overall:</span>
                            <span id="medical-overall">{{ medical_overall }}</span>
                          </div>
                          <div class="high-value-data-row">
                            <span>Last 30 days:</span>
                            <span id="medical-last30">{{ medical_last_30_days }}</span>
                          </div>
                          <div class="high-value-data-row">
                            <span>Yesterday:</span>
                            <span id="medical-yesterday">{{ medical_yesterday }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">trending_up</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--info custom-card-height card">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">Unusual Treatment Patterns</h5>
                      <span id="unusual-overall" class="overall-value">{{ unusual_treatment_overall }}</span>
                    </div>
                    
                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_unusual_treatment' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- New Data Rows -->
                    <div class="card-data">
                      <div class="data-row">
                        <span>Overall:</span>
                        <span id="unusual-overall">{{ unusual_treatment_overall }}</span>
                      </div>
                      <div class="data-row">
                        <span>Last 30 days:</span>
                        <span id="unusual-last30">{{ unusual_treatment_last_30_days }}</span>
                      </div>
                      <div class="data-row">
                        <span>Yesterday:</span>
                        <span id="unusual-yesterday">{{ unusual_treatment_yesterday }}</span>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">local_hospital</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--info custom-card-height card">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">Opthalmology OT Cases</h5>
                      <span id="ot-violation-overall" class="overall-value">{{ ophtho_ot_overall }}</span>
                    </div>
                    
                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_unusual_treatment' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- New Data Rows -->
                    <div class="card-data">
                      <div class="data-row">
                        <span>Overall:</span>
                        <span>{{ ophtho_ot_overall }}</span>
                      </div>
                      <div class="data-row">
                        <span>Last 30 days:</span>
                        <span>{{ ophtho_ot_last30 }}</span>
                      </div>
                      <div class="data-row">
                        <span>Yesterday:</span>
                        <span>{{ ophtho_ot_yesterday }}</span>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">local_hospital</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--info custom-card-height card">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">Opthalmology Preauth Time</h5>
                      <span id="preauth-timing-count" class="overall-value">{{ ophtho_time_overall }}</span>
                    </div>
                    
                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_unusual_treatment' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- New Data Rows -->
                    <div class="card-data">
                      <div class="data-row">
                        <span>Overall:</span>
                        <span>{{ ophtho_time_overall }}</span>
                      </div>
                      <div class="data-row">
                        <span>Last 30 days:</span>
                        <span>{{ ophtho_ot_last30 }}</span>
                      </div>
                      <div class="data-row">
                        <span>Yesterday:</span>
                        <span>{{ ophtho_ot_yesterday }}</span>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">local_hospital</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--info custom-card-height card">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">Opthalmology Age Cases</h5>
                      <span id="under-40-cataract-count" class="overall-value">{{ ophtho_age_overall }}</span>
                    </div>
                    
                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_unusual_treatment' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- New Data Rows -->
                    <div class="card-data">
                      <div class="data-row">
                        <span>Overall:</span>
                        <span>{{ ophtho_age_overall }}</span>
                      </div>
                      <div class="data-row">
                        <span>Last 30 days:</span>
                        <span>{{ ophtho_age_last30 }}</span>
                      </div>
                      <div class="data-row">
                        <span>Yesterday:</span>
                        <span>{{ ophtho_age_yesterday }}</span>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">local_hospital</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--info custom-card-height card">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">Hospital Bed Cases</h5>
                      <span class="overall-value">{{ bed_violations.overall }}</span>
                    </div>
                    
                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_unusual_treatment' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- New Data Rows -->
                    <div class="card-data">
                      <div class="data-row">
                        <span>Overall:</span>
                        <span>{{ bed_violations.overall }}</span>
                      </div>
                      <div class="data-row">
                        <span>Last 30 days:</span>
                        <span>{{ bed_violations.last30 }}</span>
                      </div>
                      <div class="data-row">
                        <span>Yesterday:</span>
                        <span>{{ bed_violations.yesterday }}</span>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">local_hospital</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--info custom-card-height card">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">Emergency Cases</h5>
                      <span id="emergency-case-count" class="overall-value">{{ emergency_overall }}</span>
                    </div>
                    
                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_unusual_treatment' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- New Data Rows -->
                    <div class="card-data">
                      <div class="data-row">
                        <span>Overall:</span>
                        <span>{{ emergency_overall }}</span>
                      </div>
                      <div class="data-row">
                        <span>Last 30 days:</span>
                        <span>{{ emergency_last30 }}</span>
                      </div>
                      <div class="data-row">
                        <span>Yesterday:</span>
                        <span>{{ emergency_yesterday }}</span>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">local_hospital</i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--info custom-card-height card">
                  <div class="card-inner">

                    <!-- Title and Overall Value in one container -->
                    <div class="card-header">
                      <h5 class="card-title">Family ID Cases</h5>
                      <span id="same-day-claims-count" class="overall-value">{{ family_overall }}</span>
                    </div>
                    
                    <!-- Download button placed in the top-right corner -->
                    <a href="{% url 'download_unusual_treatment' %}" class="btn btn-primary" style="position: absolute; top: 0; right: 0; margin: 10px;"><i class="material-icons custom-icon-size">file_download</i></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom"></h5>
                    <!-- New Data Rows -->
                    <div class="card-data">
                      <div class="data-row">
                        <span>Overall:</span>
                        <span>{{ family_overall }}</span>
                      </div>
                      <div class="data-row">
                        <span>Last 30 days:</span>
                        <span>{{ family_last30 }}</span>
                      </div>
                      <div class="data-row">
                        <span>Yesterday:</span>
                        <span>{{ family_yesterday }}</span>
                      </div>
                    </div>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">local_hospital</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- Modal Overlay (hidden by default) -->
        <div id="modal-overlay" class="modal-overlay" style="display: none;">
          <div class="modal-content">
            <!-- Close Button (top-middle) -->
            <span id="modal-close" class="modal-close">&times;</span>
            <!-- Modal Body Content -->
            <div class="modal-body">
              <h2>Modal Title</h2>
              <!-- Reference Image -->
              <img src="{% static 'images/heat_map1.png' %}" 
              alt="Reference Design"
              style="width: 100%; max-height: 300px; object-fit: contain; margin-bottom: 16px;" />
              <canvas id="barChart" style="width: 100%; height: 400px;"></canvas> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- plugins:js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/chartjs.js' %}"></script>

  <script src="/static/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="/static/vendors/chartjs/Chart.min.js"></script>
  <script src="/static/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/static/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/static/js/material.js"></script>
  <script src="/static/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/static/js/dashboard.js"></script>
  <!-- End custom js for this page-->


</body>
</html> 